*{
    box-sizing: border-box;
}
body{
    background-color: #FFFFFF !important;
    box-sizing: border-box;
    height: 100%;
}
.box-shadow{
    box-shadow: 0px 0px 8px #000;
}
.bold{
    font-weight: bold;
}
.abc{
    text-decoration: none;
    margin-left:2px;
    color:rgb(26, 86, 251);
    background-color:'red' !important;
    padding:5px 8px;
    display: inline-block;
}
blockquote {
    font-style:italic ;
}
figure {
    text-align: center;
}
figure img{
    width: 60%;
}
@media only screen and ( max-width:450px){
    figure img{
        width: 100%;
    }
}
.flex-rows{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.flex-rows-start{
    display: flex;
    align-items: center;
}
.padding-20{
    padding:20px 20px;
}
.margin-right-10{
    margin-right: 10px;
}
.margin-right-20{
    margin-right: 20px !important;
}
.margin-left-10{
    margin-left: 10px;
}
.margin-left-20{
    margin-left: 20px;
}
.margin-bottom-10{
    margin-bottom:10px
}
.margin-bottom-20{
    margin-bottom:20px
}
.margin-top-20{
    margin-top:40px
}
.cursor{
    cursor: pointer;
}
.item-category{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.item-select{
    border-bottom:3px solid rgb(5, 197, 223);
    color:rgb(5, 197, 223);
}
.form-create{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 1220;
    left:0;
    margin:0;
}
/* .MuiPaper-root{
    z-index: 1100 !important;
} */
.MuiListItemIcon-root{
    margin-right:15px;
    margin-left: 25px;
}
.MuiAlert-standardError{
    width: 100% !important;
}
.MuiAlert-standardSuccess{
    width: 100% !important;
}
.no-outline{
    outline: none;
}
.dashboard-product{
    background: #F0F2F5;
    padding: 20px;
    border-radius: 8px;
}
.link{
    text-decoration: none;
    color:rgba(0,0,0,0.87);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.form-create-category{
    padding:0px 20px 30px 20px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
}
.border-radius{
    border-radius: 8px;
}
.form-product{
    padding:0px 20px 30px 20px;
    background-color: #fff;
    border-radius: 10px;
    width: 90%;
    height: 90vh;
    position: relative;
    overflow: auto;
}
.exit{
    position: absolute;
    right:20px;
    cursor: pointer;
}
.border-bottom{
    border-bottom: 1px solid #ddd;
}
.ckeditorss{
    display: block;
    width: 100% !important;

}
.font-size-40{
    font-size: 34px !important;
}
.padding-10{
    padding:10px;
}
.edit-category{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    top: 0;
    left: 0;
    z-index: 1200;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-fff{
    background-color: #FFFFFF;
}
.category-product{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.grow-1{
    flex-grow:1;
}