
.padding-20{
    padding:20px;
}
.margin-right-20{
    margin-right: 20px;
}
.margin-top-20{
    margin-top: 20px;
}
.inline-block{
    display: inline-block;
}
.pointer{
    cursor: pointer;
}
.margin-right--5{
    margin-right: -5px;
}
.margin-bottom-30{
    margin-bottom: 30px;
}
button{
    outline:none !important;
}

body,html,.MuiButton-root,.MuiTableCell-root,.MuiChip-root,.MuiTypography-h5,.MuiTypography-body2,.MuiInputBase-root,input,label,.MuiAlert-root{
    font-family: 'Mulish', sans-serif !important;
}
.paper{
    background: rgb(63, 81, 181) !important;
    color: #FFFFFF !important;
    margin: 20px 0 0 0 !important;
}
.jumbotron{
    margin-bottom: 0 !important;
    padding-left:0 !important;
    padding-right:0 !important;
}
@media only screen and (max-width: 414px){
    .maykhach_danhmuc{
        display: block !important;
    }
    .row{
        margin:0 !important;
    }
    .sidebar{
        top:100% !important;
        transform: translate(0%,-110%) !important;
    }
    .image img{
        width: 80% !important;
    }
}
td{
    min-width: 100px;
}

.nav-a a{
    color:rgba(0,0,0,0.5) !important;
    padding-left: 10px;
    text-decoration: none;
    cursor: pointer;
}
.nav-a a:hover{
    color: blue !important;
}
.sticky{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1002;
    width: 100%;
}
a{
    text-decoration: none !important;
}
.image{
    text-align: center;
}
.image img{
    width: 50% !important;
}
.chitiet{
    color:#FFFFFF !important;
}