
.padding-20{
    padding:20px;
}
.margin-right-20{
    margin-right: 20px;
}
.margin-top-20{
    margin-top: 20px;
}
.inline-block{
    display: inline-block;
}
.cursor{
    cursor: pointer;
}
.margin-right--5{
    margin-right: -5px;
}
.margin-bottom-30{
    margin-bottom: 30px;
}
button{
    outline:none !important;
}
body,html,.MuiButton-root,.MuiTableCell-root,.MuiChip-root,.MuiTypography-h5,.MuiTypography-body2,.MuiInputBase-root,input,label{
    font-family: 'Mulish', sans-serif !important;
}
